In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/fa/c4/e09a705190d0930c8460257fcb6f2df83be78c82cb2cacd3b9be343d7205/pandas-2.1.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata
  Downloading pandas-2.1.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.22.4 in /Users/appleworld/Library/Python/3.9/lib/python/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/appleworld/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/appleworld/Library/Python/3.9/lib/python/site-packages (from pandas) (2022.6)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 133.0 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading pandas-2.1.0-cp39-cp39-macosx_10_9_x86_64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 222.3 kB/s eta 0:00:0000:0100:02
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.1.0 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [13]:
# Data Source Link: https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset
data = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

# return top n rows of data
#The data has [374 rows x 13 columns]
#Show the first 3 rows of the data
data_top = data.head(3)

#show the result
data_top

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN

In [18]:
#Show the last 3 rows of the data, the default is 5
data_bottom = data.tail(3)

#Show the result
data_bottom

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [19]:
#Now lets see some basic statistical details using 'describe'

print(data.describe)

<bound method NDFrame.describe of      Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0           126/83          77         4200            NaN
1           125/80          75        10000            NaN
2           125/80          75        10000            NaN
3           140/90          85         3000    Sleep Apnea
4           140/90          85         3000    Sleep Apnea
..             ...         ...          ...            ...
369         140/95          68         7000    Sleep Apnea
370         140/95          68         7000    Sleep Apnea
371         140/95          68         7000    Sleep Apnea
372         140/95          68         7000    Sleep Apnea
373         140/95          68         7000    Sleep Apnea

[374 rows x 13 columns]>

In [23]:
#Because the above output is very circulate
#Now we can describe each column name based on the data to have a better intuition
deAge = data["Age"].describe()

deAge

count    374.000000
mean      42.184492
std        8.673133
min       27.000000
25%       35.250000
50%       43.000000
75%       50.000000
max       59.000000
Name: Age, dtype: float64

In [24]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [27]:
#Since we have a data Type DataFrame in pandas,
# we want to try to convert it to numpy array

import numpy as np

npAr = data.to_numpy()
npAr

array([[1, 'Male', 27, ..., 77, 4200, nan],
       [2, 'Male', 28, ..., 75, 10000, nan],
       [3, 'Male', 28, ..., 75, 10000, nan],
       ...,
       [372, 'Female', 59, ..., 68, 7000, 'Sleep Apnea'],
       [373, 'Female', 59, ..., 68, 7000, 'Sleep Apnea'],
       [374, 'Female', 59, ..., 68, 7000, 'Sleep Apnea']], dtype=object)

In [29]:
#convert only Age column to array
npAge = data['Age'].to_numpy()
npAge

array([27, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29,
       29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31,
       31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32,
       32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33,
       33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 35, 35, 35,
       35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36,
       36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37,
       37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38,
       38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39,
       39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 41, 41, 41, 41, 41,
       41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43,
       43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43,
       43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44,
       44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44,
       44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 45, 45, 45, 45, 45, 48, 48, 48, 49, 49, 49, 49, 49,
       49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50,
       50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51,
       52, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53,
       53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 55,
       55, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58,
       58, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59])

In [31]:
npAge.dtype

dtype('int64')

In [38]:
#Lets find out if any labels assigned to the rows or columns

# print the row labels
print("index ",data.index)

# print the column labels
print("Columns ",data.columns)

index  RangeIndex(start=0, stop=374, step=1)
Columns  Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [42]:
#Takes index label and returns row

rowret = data.loc[55]

rowret

Person ID                      56
Gender                       Male
Age                            32
Occupation                 Doctor
Sleep Duration                6.0
Quality of Sleep                6
Physical Activity Level        30
Stress Level                    8
BMI Category               Normal
Blood Pressure             125/80
Heart Rate                     72
Daily Steps                  5000
Sleep Disorder                NaN
Name: 55, dtype: object